:root {
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./assets/fonts/static/NotoSans-Regular.ttf');
}
html {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background-image: var(--light-gradient);
    background-repeat: no-repeat;
    height: 100%;
    color: var(--neutral-900);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body.dark-theme {
    background-color: var(--dark-gradient);
    color: var(--neutral-0);
}

.container {
    width: 85%;
    margin: 0 auto;
}

/* header {
    width: 85%;
} */

#header-bar {
    background-color: var(--neutral-0);
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#list-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

button {
    background-color: var(--neutral-0);
    border: none;
    border-radius: 25px;
    font-family: 'Noto Sans', sans-serif;
    color: var(--neutral-900);
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer;
}

button.selected {
    background-color: var(--red-700);
    color: var(--neutral-0);
}

.extension-card {
    background-color: var(--neutral-0);
    border: var(--neutral-0), solid;
    border-radius: 25px;
}

.extension-list {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}